{
    "extends": [
      "react-app",
      "react-app/jest",
      "plugin:react-hooks/recommended"
    ],
    "rules": {
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "no-console": ["warn", { "allow": ["warn", "error"] }]
    }
  }

  